.bg-color1{
    background-color: #153462;
}
.color1{
   color: #153462;
}

.color2{
    color: #4FA095;
}
.bg-color2{
    background-color: #4FA095;
}

.color3{
    color: #BAD1C2;
}
.bg-color3{
    background-color: #BAD1C2;
}

.bg-color4{
    background-color: #B6C4B6 !important;
}
.color4{
    color: #ffff !important;
}

.logo-header{
    height: 7rem;
    width: auto;
}

.bg-color5{
    background-color: #304D30;
}

.color6{
    color: black !important;
}
.search{
    height: 1.5rem;
    width: auto;
    border-radius: 25px;
}

.txt{
    font-size: 22px !important;
    font: caption;
}
.txt2{
    font-size: 17px !important;
    font: caption;
}

.carousel-img{
    height: 60rem!important;
}

.home-info{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0.8); /* Transparan arka plan rengi */
  }

  .card-btn{
    border-radius: 25px;
  }
  .card-btn:hover{
    background: #153462 !important;
    color:#BAD1C2 !important;
  }

  .login{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
  }

  .login-input{
    border-radius: 25px;
    height: 3rem;
    width: auto;

  }
.login-input:focus{

    border: 4px solid #4FA095 !important;
    box-shadow: 0 0 0 0.2rem #BAD1C2;
    z-index: 2;
    outline: none;

  }

.foother-margin{
    margin: 6%;
}

.btn-foother:hover{
    background-color: #BAD1C2;
    border:3px solid #95a79b;
}

.btn-foother{
    border-radius: 60%;
}
.card1{
    position: fixed;
  top: -100px; /* Kartı yukarıda başlat */
  left: 0;
  width: 100%;
  height: 14rem;
  background-color: #153462;
  padding: 10px;
  text-align: center;
  z-index: 3;

}
.header{
    z-index: 2;
    transition: background-color 0.3s ease;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Bu değeri istediğiniz gibi ayarlayabilirsiniz */
    z-index: 1;
  }

  .blur {
    filter: blur(5px); /* Blur miktarını isteğinize göre ayarlayın */
  }

.dropDownPlates:hover{
    background-color: #95a79b !important;
}


  .resim-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    z-index: 0; /* Resmin üzerine, ama resmin altına gelecek şekilde */
    overflow: hidden;

  }
.imgText{
    color: white;



    z-index: 1;

}
