.bg-color1{
    background-color: #163020;
}
.color1{
   color: #163020;
}

.color2{
    color: #304D30;
}
.bg-color2{
    background-color: #304D30;
}

.color3{
    color: #B6C4B6;
}
.bg-color3{
    background-color: #B6C4B6;
}

.bg-color4{
    background-color: white !important;
}
.color4{
    color: white !important;
}

.logo-header{
    height: 8rem;
    width: auto;
    margin: 0px;
    padding: 0px;
}

.bg-color5{
    background-color: #304D30;
}

.color6{
    color: black !important;
}
.search{
    height: 1.5rem;
    width: auto;
    border-radius: 25px;
}

.txt{
    font-size: 22px !important;
    font: caption;
}
.txt2{
    font-size: 17px !important;
    font: caption;
}

.carousel-img{
    height: 67rem!important;
}

.home-info{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 2rem;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0.8); /* Transparan arka plan rengi */
  }

  .card-btn{
    background: #304D30 !important;

    color:#B6C4B6 !important;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
  }
  .card-btn:hover{
    background: #B6C4B6 !important;
    border: none;
    color:#304D30 !important;
  }

  .login{
    margin-top: 2.5%;

    margin-bottom: 2.5%;
  }

  .login-input{
    border-radius: 25px;
    height: 3rem;
    width: auto;

  }
.login-input:focus{

    border: 4px solid #304D30 !important;
    box-shadow: 0 0 0 0.2rem #B6C4B6;
    z-index: 2;
    outline: none;

  }

.foother-margin{
    margin: 2%;
}

.btn-foother:hover{
    background-color: #BAD1C2;
    border:3px solid #95a79b;
    transition: background-color 0.3s ease-in-out;
}

.btn-foother{
    border-radius: 60%;
    border:none;

}
.card1{
    position: fixed;
  top: -100px; /* Kartı yukarıda başlat */
  left: 0;
  width: 100%;
  height: 14rem;
  background-color: #163020;
  padding: 10px;
  text-align: center;
  z-index: 3;

}
.header{
    z-index: 2;
    transition: background-color 0.3s ease;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Bu değeri istediğiniz gibi ayarlayabilirsiniz */
    z-index: 1;
  }

  .blur {
    filter: blur(5px); /* Blur miktarını isteğinize göre ayarlayın */
  }

.dropDownPlates:hover{
    background-color: #95a79b !important;
}


  .resim-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    z-index: 0; /* Resmin üzerine, ama resmin altına gelecek şekilde */
    overflow: hidden;

  }
.imgText{
    color: white;
    z-index: 1;
}

.buttonFooter{
    background-color: #163020;
    font-size: large;
    color: #EEF0E5;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;

}
.buttonFooter:hover{
    background-color: #EEF0E5;
    color: #163020;
    border-radius: 25px;

}

.carousel-item {
    transition: transform 1s ease !important;
  }




  .custom-input label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: transform 0.3s ease-in-out;
  }

  .custom-input input:not(:focus)::placeholder {
    /* İnputa odaklanılmadığında ve değer girilmediğinde placeholder'ı gösterme */
    opacity: 1;
  }

  .custom-input input:focus::placeholder {
    /* İnputa odaklandığında placeholder'ı tamamen gizle */
    visibility: hidden;
  }


